@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


:root{
    --headerColor: white;
    --headerShadow: white;
    --buttonBackground: #CFD2D4;
    --textDark: #082032;
    --textLight: white;

    --color: orangered;

    --resultColor:orangered;
}

body{

}
.container-center{
    background-color: #082032; 
    /* margin: 20px; */
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
.welcome{
    width: 100%;
    height: 90vh;
}
#header{
    font-size: 4rem;
    color: tomato;
    font-family: Yellowtail;
    width: 50%;
    margin: 20px auto;
    --interval: 1.5s;
    text-shadow: 
        0 0 10px var(--color),
        0 0 20px var(--color),
        0 0 40px var(--color),
        0 0 80px var(--color);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
}
@keyframes flicker {
    
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
      }
}
#click{
    text-decoration: none;
    color: var(--textLight);
    
}
.user-input{
    padding-top: 1rem;
    margin-top: 0;
}
.user-input p{
    color: var(--textLight);
}
.user-input input{
    display: inline;
    margin: 0.5rem auto;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: var(--buttonBackground);
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
}
#btn{
    display: block;
    border: 1px solid gray;
    border: 2px solid var(--textDark);
    border-radius: 20px;
    margin: 1rem auto;
    padding: 10px;
    background-color: var(--buttonBackground);
    color: var(--textDark);
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);

}
.result{
    padding-top: 1rem;
    font-size: 25pt;
    padding-bottom: 5%;

    --interval: 1.5s;
    text-shadow: 
      0 0 10px var(--resultColor),
      0 0 20px var(--resultColor),
      0 0 40px var(--resultColor),
      0 0 80px var(--resultColor);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
}
#privacy{
    text-align: center;
    margin: auto 15%;
    padding: 5px;
    color: var(--textDark);
    border: 1px solid var(--textLight);
    border-radius: 5px;
}
.footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
}
.footer-header{
    background-color: var(--textDark);
    color: var(--textLight);
    font-size: 1rem;
    padding: 2px;
    width: 30%;
    margin: auto;
    border-radius: 10px;
}
.footer ul{
    padding-inline-start: 0;
}
.list{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.list-item{
    display: inline;
}
.icons{
    margin: auto 10px;
}